@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Geist Sans', sans-serif;
}

.bg-background {
  background-color: #f0f4f8; /* Example background color */
}

.text-foreground {
  color: #333; /* Example text color */
}

.bg-login-background {
  background-color: #e0f7fa; /* Example login background color */
}

.text-login-foreground {
  color: #00796b; /* Example login text color */
}

/* Header styling */
header {
  height: 60px; /* Example height */
}

header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

header.categories-header {
  position: fixed;
  top: 60px; /* Adjust based on main header height */
  width: 100%;
  z-index: 20;
}

.main-content {
  margin-top: 60px; /* Ensure content starts below the header */
}

.dropdown-menu {
  z-index: 50;
}


.blog-post-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px; /* Adjust margin for spacing between cards */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 20px); /* Ensure each card takes up 1/3 of the container width, adjusting for margin */
    box-sizing: border-box;
  }
  
  .blog-post-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .slick-slide > div {
    display: flex;
    justify-content: center;
  }
  
  
  
  